@font-face {
  font-family: 'RobotoMono'; /* nome qualquer */
  src: url('./fonts/RobotoMono-Thin.ttf'); /* onde está a fonte */
} /* https://developer.mozilla.org/pt-BR/docs/Web/CSS/@font-face */

* {
  font-family: 'RobotoMono', monospace;
} /* define que todas as classes usarão essa fonte */

body {
  display: flex; /* https://www.w3schools.com/css/css3_flexbox.asp */
  height: 100vh; /* vh-> 1/100 da altura do navegador */
  justify-content: center;
  align-items: center;
  text-align: center;

  color: #fff;
  background-color: black;
}