.robo {
    height: 320px;
    width: 235px;
    border-radius: 5px; /* arredondamento na bordas */
    overflow: hidden; /*https://www.w3schools.com/css/css_overflow.asp*/
    background-color: azure;

    display: grid;
    grid-template-columns: repeat(2,50%);
    grid-template-rows: 1fr 50px 50px 50px;
}
