.Card {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin: 5px;
    background-color: red;
}

.Card .Header {
    display: flex;
    justify-content: center;
}

.Card .Header .Title{
    flex: 1;
    padding: 5px;
}

.Card .Content {
    padding: 20px;
}

.Card.Red .Header { color: #fff; background-color: red;}
.Card.Red .Content { color: #fff; background-color: lightcoral;}

.Card.Green .Header { color: #fff; background-color: green;}
.Card.Green .Content { color: #fff; background-color: lightgreen;}

.Card.Blue .Header { color: #fff; background-color: blue;}
.Card.Blue .Content { color: #fff; background-color: lightblue;}

.Card.Purple .Header { color: #fff; background-color: purple;}
.Card.Purple .Content { color: #fff; background-color: #9c27b0;}
