.calculator {
    height: 320px;
    width: 235px;
    border-radius: 5px; /* arredondamento na bordas */
    overflow: hidden; /*https://www.w3schools.com/css/css_overflow.asp*/
    background-color: red;

    /*para o final*/
    display: grid;
    grid-template-columns: repeat(4,25%);
    grid-template-rows: 48px 48px 48px 48px 48px /*repeat(5,48px)*/
}
