.card {
    margin: 5px;
}

.card-header {
    font-weight: bold;
}

/*
.card.red .card-header { color: #fff; background-color: red;}
.card.red .card-body { color: #fff; background-color: lightcoral;}

.card.green .card-header { color: #fff; background-color: green;}
.card.green .card-body { color: #fff; background-color: lightgreen;}

.card.blue .card-header { color: #fff; background-color: blue;}
.card.blue .card-body { color: #fff; background-color: lightblue;}

.card.purple .card-header { color: #fff; background-color: purple;}
.card.purple .card-body { color: #fff; background-color: #9c27b0;}
*/
