.tile {
    display: inline-flex;
    background-color: olive;
}

.tile.rock {
    background-image: url('/tiles/rock.png');
}

.tile.tree {
    background-image: url('/tiles/tree.png');    
}

.tile.chest {
    background-image: url('/tiles/chest.png')
}

.row {
    height: 40px;
}